@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1e1e2f;
    color: #ffffff;
    line-height: 1.6;
}

header {
    padding: 2rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    background: linear-gradient(in oklab, gray, #f4b652);
}

.navbar-brand {
    color: rgb(81, 76, 76);
    font-weight: bold;
    transition: 500ms linear;
}

header .nav-links {
    list-style: none;
    display: flex;
}

.nav-link {
    margin: 0.1rem;
    color: rgb(255, 166, 0);
    font-weight: bold;
    font-size: 20px;
    transition: 500ms linear;
    text-shadow: 1px 2px 2px black;
}

.nav-link:hover {
    color: rgb(82, 76, 76);
    transform: scale(1.04);
}

.navbar-brand:hover {
    color: rgb(82, 76, 76);
    transform: scale(1.2);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='orange' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.profil {
    background: linear-gradient(135deg, #f4b652 50%, #1e1e2f 50%);
    text-align: center;
    padding: 5rem 0;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.profil-content {
    z-index: 1;
    position: relative;
    width: 100%;
    margin: auto;
}

.profil-content .foto-profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 5px solid #f4b652;
    transition: 500ms linear;
}

.foto-profil:hover {
    transform: scale(1.2);
}

.profil h1 {
    font-family: fantasy;
    margin-bottom: 1rem;
    animation: fadeIn 3s;
    color: orange;
    text-shadow: 1px 2px 6px black;
    font-weight: bold;
    transition: 500ms linear;
}

.profil h1:hover {
    transform: scale(1.2);
}

.profil p {
    font-size: 20px;
    animation: fadeIn 3s;
    color: white;
    text-shadow: 1px 2px 6px black;
    font-weight: bold;
    transition: 500ms linear;
}

.profil p:hover {
    transform: scale(1.2);
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url('wave.svg') repeat-x;
    animation: waveAnimation 10s linear infinite;
}

section {
    padding: 2rem 0;
    width: 80%;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 50px;
    animation: fadeIn 5s;
    color: orange;
    text-shadow: 1px 2px 6px black;
    font-weight: bold;
    transition: 500ms linear;
}

.section h2:hover {
    transform: scale(1.2);
}

section h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 30px;
    animation: fadeIn 3s;
    color: orange;
    font-weight: bold;
}

.about {
    background: linear-gradient(135deg, #1e1e2f 50%, gray 50%);
}

.tentang-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.tentang-saya {
    flex: 1;
    min-width: 280px;
    margin: 1rem;
    padding: 1rem;
    background: linear-gradient(10deg, gray 50%, #f4b652 50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.9s;
}

.tentang-saya:hover {
    transform: translateY(-30px);
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact label {
    font-weight: bold;
}

.contact input,
.contact textarea {
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
    background-color: transparent;
    transition: 500ms linear;
}

.contact input:hover {
    transform: scale(1.1);
}

.contact textarea:hover {
    transform: scale(1.1);
}

.contact button {
    padding: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    background: linear-gradient(in oklab, #f4b652, gray);
    transition: 500ms linear;
}

.contact button:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: linear-gradient(in oklab, #f4b652, gray);
    color: #fff;
    margin-top: 2rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

@keyframes waveAnimation {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }
    header nav {
        flex-direction: column;
    }
    header .nav-links {
        flex-direction: column;
        align-items: center;
    }
    header .nav-links li {
        margin: 0.5rem 0;
    }
    .hero h1 {
        font-size: 2rem;
    }
}